<!-- Top Bar -->
<section id="top-bar" class="p-3">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <i class="fas fa-phone"></i> (617)-555-5555
    </div>
    <div class="col-md-4">
      <i class="fas fa-envelope-open"></i> contact@ddrealestate.co
    </div>
    <div class="col-md-4">
      <div class="social text-right">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-pinterest"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</section>