<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- LightBox -->
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">

    <title>DD Housing</title>
</head>
<body>
<!--TopBar-->
{% include 'partials/_topbar.html' %}

<!--NavBar-->
{% include 'partials/_navbar.html' %}

<!--Main Content-->

{% block content%} {% endblock %}

<!--Footer-->
{% include 'partials/_footer.html' %}


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
</body>
</html>

